#insideborder {
	border: 1px solid #999999;
	margin-top: 7px;
	padding: 2px;
	border-radius: 3px;
    background-color: #f2f2f2;
}

#errorMessages p {
	color: red;
	margin-bottom: 5px;
	background-color: #f2f2f2;
}

#successMessage p {
	color: green;
	margin-bottom: 5px;
}

#formDisplay {
	width: 100%;
	border: 1px solid #999999;
	border-radius: 3px;
	display: inline-block;
	background-color: #f2f2f2;
}

#actions {
	width: 50%;
	float: right;
	margin-top: -10px;
}

#actions button {
	margin-right: 7px;
}

span {
	color: red;
}

.formInput {
	padding-bottom: 10px;
}

.multiSelecta {
	border: 2px solid #ccc;
	width: 300px;
	height: 100px;
	overflow-y: scroll;
	padding: 2px;
	margin-bottom: 5px;
}

.w-auto {
	font-size: 20px;
}

.fieldSet {
	border: 2px solid red;
	border-radius: 10px;
}

#tableDisplay5 {
	border: 1px solid #999999;
	border-radius: 5px;
	height: 100%;
	margin-top: 2px;
}

.nav-tabs {
    border-bottom: 0px solid;
    margin-bottom: -5px;
}