#containerDepartment {
	margin-top: 15px;  
	height: 30px;
}


.borders {
	margin-top: 10px;
	border: 2px solid #999999;
	padding: 5px;
	border-radius: 5px;
	background-color: #f2f2f2;
	height: 100%;
	margin-bottom: 5px;
}

#sortListDepartment {
	margin-bottom: -2px;
	height: 20%;
}

#sortListDepartment a {
	font-size: 12px;
	font-weight: bold;
}

#actionsMenu {
	width: 50%; 
	float: right; 
	margin-top: -15px;
}

.p-2 {
	margin-bottom: -5px;
}

#tableDisplay {
	border: 1px solid #999999;
	border-radius: 5px;
	height: 70%;
}

#colorRowsTable th {
	background-color: #f2f2f2;
}

#colorRowsTable tr:nth-child(even) {
	background-color: #e6ffff;
}

#colorRowsTable tr:nth-child(odd) {
	background-color: #ffffff;
}

#colorRowsMaterialTable th {
	background-color: #f2f2f2;
}

#colorRowsMaterialTable tr:nth-child(even) {
	background-color: #e6ffff;
}

#colorRowsMaterialTable tr:nth-child(odd) {
	background-color: #ffffff;
}

.dataTables_empty {
	height: 500px;	
}

.justify-content-end {
	margin:20px 0; 
	margin-right: 5px;
}
.dataTables_empty{
	height: 500px;
}

.nav-tabs {
    border-bottom: 0px solid;
    margin-bottom: -5px;
}

.nav-tabs li a{
    font-size: 12px;
	font-weight: bold;
}

#saveDiv {
	margin-bottom: 5px;
}

#menuDiv {
	margin-bottom: -10px;
}

#exampleCheck1 {
	margin-bottom: 10px;
}


